#chap1:target{
    border: 2px solid;
    background-color: aqua;
}
#chap2:target{
    border: 2px solid;
    background-color: aquamarine;
}
#chap3:target{
    border: 2px solid;
    background-color: blue;
}
#chap4:target{
    border: 2px solid;
    background-color: blueviolet;
}
#chap5:target{
    border: 2px solid;
    background-color: chartreuse;
}