#hey1:target{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.1d6tBbNiJTFQNEK_k0sSjQHaFj&pid=Api&P=0&h=180);
    background-size: cover;
    text-shadow: 2px 2px 2px red;
}
#hey2:target{
    background-image: url(https://wallpapertag.com/wallpaper/full/9/7/8/679355-large-size-backgrounds-1920x1080-for-tablet.jpg);
    background-size: cover;
    text-shadow: 2px 2px 2px rgb(176, 107, 107);
}
#hey3:target{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.1d6tBbNiJTFQNEK_k0sSjQHaFj&pid=Api&P=0&h=180);
    background-size: cover;
    text-shadow: 2px 2px 2px rgb(19, 1, 1);
}
#hey4:target{
    background-image: url(https://wallpapertag.com/wallpaper/full/9/7/8/679355-large-size-backgrounds-1920x1080-for-tablet.jpg);
    background-size: cover;
    text-shadow: 2px 2px 2px rgb(174, 115, 115);
}
#hey5:target{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.1d6tBbNiJTFQNEK_k0sSjQHaFj&pid=Api&P=0&h=180);
    background-size: cover;
    text-shadow: 2px 2px 2px rgb(209, 202, 202);
}